.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.imageContainer {
  display: flex;
  flex-direction: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: auto;
  height: 100%;
  width: 100%;
  position: relative;

  margin-bottom: 100px;
}

.correctGuessMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-color: white;
  font-weight: bold;
  font-size: 50px;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.timerCharacterListContainer {
  z-index: 220;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(43, 37, 37, 0.88);

  padding: 10px;

  cursor: pointer;
}

.imageContainerInterior {
  position: relative;
}

.guessCharacterSelector {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
  padding: 15px;
  background-color: rgb(163, 66, 66);
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.guessCharacterSelector div {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.guessCharacterSelector div:hover {
  color: black;
}

.noScoreboardMessage {
  font-size: 40px;
  margin-top: 40px;
  color: rgb(187, 66, 66);
}

.userInfoDiv {
  display: flex;
  justify-content: center;

  color: white;
  font-size: 15px;
}
