.level-creator-container {
  position: relative;
}

.coords-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;

  background-color: rgba(59, 61, 63, 0.856);
}

.coords-container-tooltip {
  margin-right: auto;
  font-size: 25px;
  position: relative;
  display: inline-block;
  cursor: default;
}

.coords-container-tooltip .coords-container-tooltiptext {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: rgba(59, 61, 63, 0.856);
  color: #fff;
  text-align: left;
  border-radius: 0.25em;
  width: 200px;
  font-size: 16px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 100%;
  transition-property: visibility;
  transition-delay: 0s;
}

.coords-container-tooltip:hover .coords-container-tooltiptext {
  visibility: visible;
}

.img-container {
  position: relative;
  display: inline-block;
}

.guess-area-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  border-style: dashed;
  border-width: 4px;
  border-color: rgb(211, 255, 167);
  color: rgb(189, 255, 122);

  width: 100px;
  height: 100px;

  cursor: default;
}

.level-creator-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.level-creator-upload-image {
  color: white;
  margin-left: 35px;
  margin-bottom: 10px;
}
