.image-container {
  display: flex;
  height: auto;
  width: auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.correct-guess-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-color: white;
  font-weight: bold;
  font-size: 50px;
  width: 100px;
  height: 100px;
  z-index: 1000;
}
